[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
python-docs-theme = "*"
sphinx-autodoc-typehints = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
codecov = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
